 /* feuille de css pour la page des floats  */

 body {
     background-color: ivory;
 }
.C1, .C2, .C3, .C4, .C5 {
  
    border: 2px solid black;
    height: 80px;
    width: 80px;
    text-align: center;
    float: left;
    margin: 3px;
}
.empty {

    height: 80px;
    width: 80px;
    text-align: center;
    float: left;
    margin: 3px;
}

.C1{
    background-color: turquoise;
    border-radius: 10% 20% 30% 40%;
}
.C2{
    background-color: yellow;
    border-radius: 50% 0% 50% 0%;
}
.C3{
    background-color: pink;
    border-radius: 50%;
}
.C4{
    background-color: bisque;
    border-radius: 10% 40% 10% 10%;
}
.C5{
    background-color: red;
    border-radius: 10% 40% 10% 40%;
}

.clear{
    clear: both;
}