/* feuile de style pour la page sélecteur  */
body{
    background-color: pink;
    color: black;
}

/* des classes pour la page  */

.zone1 {
background-color: peru;
height: 50px;
}

.zone2 {
background-color: powderblue;
/* hauteur du bloc */
height: 70px
}

/* des styles pour des ID  */

#zone3 {
    background-color: purple;
    color: whitesmoke;
}
