/* feuille de css pour la page des float  */

body {
    background-color: pink;
    color: white;
}

.cube1 {
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    margin: 5px;
    border: 5px solid white;
    float: left;
    border-radius: 15%;
    text-align: center;
}

.cube2 {
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    margin: 5px;
    border: 5px solid white;
    float: left;
    border-radius: 15%;
    text-align: center;
}

.cube3 {
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    margin: 5px;
    border: 5px solid white;
    float: left;
    border-radius: 15%;
    text-align: center;
}

.cube4 {
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    margin: 5px;
    border: 5px solid white;
    float: left;
    border-radius: 15%;
    text-align: center;
}
.cube5 {
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    margin: 5px;
    border: 5px solid white;
    float: left;
    border-radius: 15%;
    text-align: center;
}
.cube6 {
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    margin: 5px;
    border: 5px solid white;
    float: left;
    border-radius: 15%;
    text-align: center;
}
.clear {
    clear: both; 
}

.c1{
    background-color: red; 
    
}
.c2{
    background-color: thistle; 
    
}
